# Django
DJANGO_ALLOWED_HOSTS=
DJANGO_DEBUG=
DJANGO_SETTINGS_MODULE=
DJANGO_SECRET_KEY=
DISABLE_COLLECTSTATIC=

# Cors
CORS_ALLOWED_ORIGINS=

# postgres
DATABASE_URL=

# Google and OAuth
GCP_SERVICE_ACCOUNT_CONTENT=
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=

# Utils
CURRENT_DOMAIN=

# Imgur
IMGUR_CLIENT_ID=
IMGUR_CLIENT_SECRET=
IMGUR_UPLOAD_ENDPOINT=

# News
OPEN_WEATHER_API_KEY=
NEWS_DATA_IO_API_KEY=
DEFAULT_NEWS_IMAGE_URL=

# AWS
A_S3_ACCESS_KEY_ID=
A_S3_SECRET_ACCESS_KEY=
A_S3_BUCKET=
