[Unit]
Description=Summers API Startup

[Service]
User=root
WorkingDirectory=/home/ubuntu/projects/summers_api
ExecStart=/bin/bash -c 'cd /home/ubuntu/projects/summers_api && git pull origin main && source venv/bin/activate && pip3 install -r requirements.txt && python3.10 manage.py runserver 0.0.0.0:80'

[Install]
WantedBy=multi-user.target
